.slider-container {
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 30px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  background: url(https://www.nisum.com/hubfs/Gernal-webp/top-right-gradiennnt.webp);
  background-repeat: no-repeat;
}

.slider-container h1 {
  font-weight: 600;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: opacity 1s ease-in-out;
  border-radius: 10px;
}




.next-btn {
  position: absolute;
  bottom: 15px;
  right: 20px;
  padding: 10px 16px;
  background-color: #38bdf8;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s;
}

.next-btn:hover {
  background-color: #0ea5e9;
}